body
{
  color: white;
  background: #c0d3ff;
  font-family: 'Londrina Solid', cursive;
}
span
{
  font-size: 30px;
}
#camera , #snapshot
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size: 30px;
  color: red;
  letter-spacing: 10px;
}
label{
  background-color: coral;
  padding: 10px;
  border-radius: 40px;
  color: darkblue;
  box-shadow: 5px 5px 20px black;
}
button{
  font-size: 30px;
}